.options_pane {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;

}

.off {
    display: none;
}

.on {
    display: block;
}


.option_switch {
    width: auto;
    margin: 6px;
}

.option_container {
    width: auto;
}

.op_switch {
    width: 12%;
    height: 40px;
    margin: 0px;
}

.slider {
    width: 60%;
    margin: 5%;
}

.rang_num {
    width: 20%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    float: right;
}

h3 {
    margin-left: auto;
    margin-right: auto;
}