.options_pane {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;

    display: none;
}

#option_switch {
    width: auto;
    margin: 6px;
}

.op_switch {
    width: 12%;
    height: 40px;
    margin: 0px;
}

.slider {
    width: 60%;
    padding: 5%;
}

.rang_num {
    width: 20%;
    padding: 5%;
}