.options_pane {
    width: auto;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 6px;

    display: none;
}

#option_switch {
    width: auto;
    margin: 6px;
}

.op_switch {
    width: 12%;
    height: 40px;
    margin: 0px;
}