<!DOCTYPE html>

<html>
    
<head>
    <link rel="stylesheet" href="stylesheets/sound_workshop.css">
    <!-- <link src = "stylesheets/sound_workshop.css"></style> -->
    <!--This is a link to the basic wavesurfer-->
    <script src="https://unpkg.com/wavesurfer.js"></script>
    <!--This is a link to the spectrogram plugin for wavesurfer-->
    <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.spectrogram.js"></script>
   
    <!--<script type="module" src="../assets/scripts/script.js"></script>
    <script data-main="../assets/scripts/actualScripts/main" src="../assets/scripts/require.js"></script>-->

</head>

<body style="background-color: #0D0D59">

    <div id="navbar">
    
    </div>

    <div id="text_container">
        <img src="stylesheets/External/LOGO_AT_WHITE.png" id="image" alt=""> <!--Main Logo-->
        <h1>Sound Workshop</h1>
        <!--<p>How to use the application</p>-->
    </div>


    <div id="sound_workshop">
        <div id="visualiser">
            <div id="player">

            </div>
            <div id="visual_output">
                
            </div>

            <div id = "wave-spectrogram">


            </div>

        </div>
        <div class="option_container">

            <div class="option_switch">
                <input id="op_left" class="op_switch" value="Left" type="button" style="border-right: 4px solid #0e0d59;">
                <input id="op_right" class="op_switch" value="Right" type="button" style="float: right; border-left: 4px solid #0e0d59;">
            </div>

            <!-- have divs that get removed and replace eachother -->

            <div id="options_0" class="options_pane on">
                <h2>TRANSFORMATIONS</h3>
                <div class="slider_slot">
                    <input class="slider" type="range" min="-100" max="100" value="0"><input class="range_num"
                        type="number" min="-100" max="100" value="0">
                </div>
                <div class="slider_slot">
                    <input class="slider" type="range" min="-100" max="100" value="0"><input class="range_num"
                        type="number" min="-100" max="100" value="0">
                </div>
            </div>
            <div id="options_1" class="options_pane off">
                <h2>Option pane 1</h3>
                <div class="slider_slot">
                    <input class="slider" type="range" min="-100" max="100" value="0"><input class="range_num"
                        type="number" min="-100" max="100" value="0">
                </div>
                <div class="slider_slot">
                    <input class="slider" type="range" min="-100" max="100" value="0"><input class="range_num"
                        type="number" min="-100" max="100" value="0">
                </div>
            </div>
            <!-- <div id="options_2" class="options_pane off">

            </div>
            <div id="options_3" class="options_pane off">
                
            </div>
            <div id="options_4" class="options_pane off">
                
            </div>
            <div id="options_5" class="options_pane off">
                
            </div> -->
        </div>
    </div>

    <img src="color-wheel.png" class="Wheel" alt=""> /<!--Meant to show an example of a colour wheel but doesn't work-->

    <div id="upload_container">
        <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event)">
             
            <label for="audio_upload">
                Choose an Audio File:
            </label>
            
            <div id="manual_file_select">
                <!-- 
                    form displays file name as part of default HTML form functionality.
                    it only works however when using the manual file selection.
                    
                    the form doesn't recognise the file when doing it by drag and drop.

                    TODO: remove form filename display
                 -->
                <form id="manual_file_select_form" method="POST">

                    <input type="file" id="audio_upload" name="audio_upload" accept="audio/*" onchange="formOnSubmit(event)">

                    <!-- submit button removed due to redundancy -->
                    <!-- <button type="submit" value="Submit">Submit</button> -->

                    <!-- clear button currently has no functionality -->
                    <!-- <button type="submit" value="Clear">Clear</button> -->

                </form>

            </div>
        </div>
        <br>
        <div id="display_filename">
            
        </div>
    </div>

    <script>
        //document.getElementById("op_left").addEventListener("click", nextPane(-1));
        //document.getElementById("op_right").addEventListener("click", nextPane(1));

        var n = 0;
        var curPane = document.getElementsByClassName("on")[0];

        sliders = document.getElementsByClassName("slider");
        boxes = document.getElementsByClassName("range_num");

        sliders[0].oninput = function () {
            boxes[0].value = this.value;
        }
        boxes[0].oninput = function () {
            sliders[0].value = this.value;
        }
        sliders[1].oninput = function () {
            boxes[1].value = this.value;
        }
        boxes[1].oninput = function () {
            sliders[1].value = this.value;
        }
        sliders[2].oninput = function () {
            boxes[2].value = this.value;
        }
        boxes[2].oninput = function () {
            sliders[2].value = this.value;
        }
        sliders[3].oninput = function () {
            boxes[3].value = this.value;
        }
        boxes[3].oninput = function () {
            sliders[3].value = this.value;
        }
        


        function nextPane(a) {
            var elm = document.getElementsByClassName("on")[0].id;
            n = parseInt(elm.charAt(elm.length - 1));
            var start = document.getElementsByClassName("on")[0];
            start.classList.add("off");
            start.classList.remove("on");

            if (n > 0) {
                n = n + a;
            } else if (n > 1) {
                n = 0;
            } else {
                n = 1;
            }

            curPane = document.getElementById("options_" + n);
            curPane.classList.add("on");
            curPane.classList.remove("off");
        }
    </script>
    <script src = "/scripts/upload-script.js"></script>

    

</body>

</html>