<!DOCTYPE html>

<html>
    
<head>

    <style src = "../assets/stylesheets/sound_workshop.css"></style>
   <!--This is a link to the basic wavesurfer-->
   <script src="https://unpkg.com/wavesurfer.js"></script>
   <!--This is a link to the spectrogram plugin for wavesurfer-->
   <script src="https://unpkg.com/wavesurfer.js/dist/plugin/wavesurfer.spectrogram.js"></script>
   
   <!--<script type="module" src="../assets/scripts/script.js"></script>
   <script data-main="../assets/scripts/actualScripts/main" src="../assets/scripts/require.js"></script>-->


</head>

<body>

    <div id="navbar">
    
    </div>

    <div id="text_container">
        <h2>Sound Workshop</h2>
        <p>How to use the application</p>
    </div>

    <div id="upload_container">
        <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event)">
            <p>Upload audio</p>
        </div>
    </div>

    <div id="sound_workshop" style="width: 88%; margin-left: 6%;">
        <div id="visualiser" style="width: auto; margin: 6px;">
            <div id="player">

            </div>
            <div id="visual_output">
                
            </div>

            <div id = "wave-spectrogram">


            </div>

        </div>
        <div id="option_container">
            <div id="option_switch">
                <input id="op_left" class="op_switch" type="button">
                <input id="op-right" class="op_switch" type="button" style = "float: right;">
            </div>
            <div id="options_0" class="options_pane"> <!-- have divs that get removed and replace eachother -->

            </div>
            <div id="options_1" class="options_pane">

            </div>
            <div id="options_2" class="options_pane">

            </div>
            <div id="options_3" class="options_pane">
                
            </div>
            <div id="options_4" class="options_pane">
                
            </div>
            <div id="options_5" class="options_pane">
                
            </div>
        </div>
    </div>
    
    <script src = "/scripts/script.js"></script>

</body>

</html>